* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
  line-height: 200px;
  text-align: center;
  font-size: 6em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: antiquewhite;
}

#container {
  width: 500px;
  height: 500px;
  margin: 100px auto;
  position: relative;
  border: 2px dashed black;
}
#container div {
  width: 200px;
  height: 200px;
  position: absolute;
}

div#eerste {
  background-color: blue;
  top: 50px;
  left: 50px;
}

div#tweede {
  background-color: blueviolet;
  top: 150px;
  left: 150px;
}
div#tweede:hover{
    z-index: 1;
    cursor: pointer;
}

div#derde {
  background-color: chartreuse;
  top: 250px;
  left: 250px;
}
